body 
{
	font-family: "Source Sans Pro","Helvetica Neue",Arial,Helvetica,serif;
	font-size: 1.25em;
	line-height: 1.5em;
}
nav {
	border-bottom: thick solid #808080;
	margin: 0;
	overflow: hidden;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
}
nav > ul > li > a {
	color: #333;
	display: block;
	line-height: 2em;
	padding: 0.5em 0.5em;
	text-decoration: none;
}

main
{
	display: block;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
p 
{
	margin-bottom: 15px;
}
h1
{
	line-height:1.1em;
}

.grid {
    display: flex;
    justify-content: center

}
.grid-cell {
    background-color: lightgray;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

@media all and (max-width: 500px) {
    .grid {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}