nav#menu { margin:0 auto; height:30px; font-size:20px; position:relative; top:5px; right:3px; font-family: 'CheltenhamFSBookCondensed'; }
nav#menu ul { margin:0; padding:0; list-style:none; float:left; }
nav#menu ul li { float:left; padding:0 18px; height:30px; line-height:30px; background:url(../images/fsc-nav-line.gif) left top no-repeat; position:relative; display:inline; z-index:44; } 
nav#menu ul li.first { background:none; }
nav#menu ul li a { display: block; color:#ffffff; text-decoration:none; }
nav#menu ul li a:hover { color:#c1d72e; border:0; }
nav#menu ul li.current a { color:#CCC; }
* html nav#menu ul li a { display:inline-block; }
* html nav#menu { height:1%; }

nav#top-nav { position:absolute; right:9px; top:0px; }
nav#top-nav ul { padding:0; list-style:none; float:left; }
nav#top-nav ul li { display:inline; float:left; padding:7px 10px 0; } 
nav#top-nav ul li.line { background:url(../images/fsc-top-nav-line.gif) left top no-repeat; position:relative; top:9px; left:5px; padding:12px 9px 6px 0; }
nav#top-nav ul li a { float:left; display:block; text-decoration:none; line-height:22px; color:#008c9a; font-weight:bold; }
nav#top-nav ul li a img.top-nav-padlock { position:relative; padding-left:6px; top:1px; }
nav#top-nav ul li.basket { background:#e5f1f3; padding:3px 27px 3px 25px; margin-right:7px; border-radius:0 0 7px 7px; -webkit-border-bottom-right-radius:7px; -webkit-border-bottom-left-radius:7px; -webkit-border-radius:0 0 7px 7px; -moz-border-radius:0 0 7px 7px; -o-border-radius:0 0 7px 7px; -khtml-border-radius:0 0 7px 7px; behavior: url(PIE.php); }
nav#top-nav ul li.basket span { text-decoration:underline; }
nav#top-nav ul li.basket img { position:relative; left:12px; top:2px; }

nav#sub-nav { margin:0 auto; background:#f8f9da url(../images/fsc-sub-nav-bg.gif) left top repeat-x; width:960px; height:83px; font-size:18px; position:relative; font-family: 'CheltenhamFSBookCondensed'; }
nav#sub-nav ul { margin:5px 30px 0; padding:0; list-style:none; height:78px; float:left; text-align:center; }
nav#sub-nav ul li { float:left; padding:10px 13px; position:relative; height:45px; margin-top:8px; width:124px; background:url(../images/fsc-sub-nav-line.gif) left 11px no-repeat; position:relative; display:inline; z-index:3; }
nav#sub-nav ul li.first { background:none; }
nav#sub-nav ul li a { display:block; color:#646464; text-decoration:none;  }
nav#sub-nav ul li a:hover { color:#CCC; border:0; }
nav#sub-nav ul li.current { position:relative; z-index:9999; }
nav#sub-nav ul li.current a { background:url(../images/fsc-sub-nav-current-bg.png) left top no-repeat; left:-7px; top:-2px; padding:12px 20px 0; position:absolute; width:124px; height:72px; color:#008c9a; }
* html nav#sub-nav ul li a { display:inline-block; }
* html nav#sub-nav { height:1%; }

#content #side-left nav#side-menu { width:180px; float:left; clear:both; font-size:12px; border-bottom:1px solid #d9d9d9; margin-bottom:20px; overflow:hidden; }
.treeview, .treeview ul { padding:0; margin:0; list-style:none; }
.treeview ul { padding:0; margin:0; list-style:none; float:left; z-index: 9999; }
.treeview li { list-style:none; float:left; z-index: 9999; border-top:1px solid #d9d9d9; width:180px; padding:7px 0; }
.treeview li a { display:block; color:#008c9a; font-weight:bold; background:url(../images/fsc-arrow-sml.png) left 4px no-repeat; padding-left:13px; }
.treeview li a:hover { color:#CCC; }
.treeview li a.current { color:#c1d72e; font-weight:bold; }  
.treeview ul ul { margin:0 0 7px; }
.treeview li li, .treeview li li li { border-top:none; padding:2px 0; display:inline; }

.treeview li li { list-style-type:square; list-style-position:inside; padding-left:6px; } /* */
.treeview li li li { margin:0 0 0 14px; } /* */

.treeview li li a { }
.treeview li li li a { color:#999; }
.treeview a.selected { color:#c1d72e; font-weight:bold; }
.treeview .hover { cursor:pointer; }
#content #side-left ul ul { margin:8px 0 -1px; }
#content #side-left ul ul ul { margin:4px 0; }







/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
