@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarefulDigitalHomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CarefulDigitalBasePage.cshtml";
}

@section MainBody
{
<p class="mission">We do high quality digital work with our heads and our hearts</p>
<h2 style="text-align:center">How We Work</h2>
<div class="grid">
  <div class="grid-cell"><strong><a href="#people">PEOPLE</a><br />we focus first on making things better for people</strong>– we don’t start with the technology, that comes later</div>
  <div class="grid-cell"><strong><a href="#craft">CRAFT</a><br />we make digital things that are built to evolve and flourish</strong>– we don’t rush towards a short-term fix</div>
  <div class="grid-cell"><strong><a href="#consideration">CONSIDERATION</a><br />we think about the impact of the work we do on the wider environment and society</strong>– we don’t make digital stuff in a vacuum</div>
</div>


<h2 style="text-align:center">What We Do</h2>

<div class="grid">
  <div class="grid-cell"><strong><a href="#consultancy">DIGITAL CONSULTANCY</strong></a><br />helping form a digital strategy for your business or charity, or helping to change your processes</div>
  <div class="grid-cell"><strong><a href="#project">DIGITAL PROJECT MANAGEMENT</strong></a><br />helping to deliver digital projects that make people happy and provide effective results</div>
</div>
<div class="grid">
  <div class="grid-cell"><strong><a href="#development">DIGITAL DEVELOPMENT</strong></a><br />providing bespoke web development based on twenty years experience, particularly with the Umbraco content management system</div>
  <div class="grid-cell"><strong><a href="#mentoring">DIGITAL MENTORING AND TEACHING</strong></a><br />drawing on years of experience as a digital team leader to help develop teams and individuals</div>
</div> 
    
<hr />

@Umbraco.Field("bodyText")
}