@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarefulDigitalHomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CarefulDigitalBasePage.cshtml";
}

@section MainBody
{
<p></p>We provide digital solutions that are based around:</p>
<div class="grid">
  <div class="grid-cell"><strong><a href="#people">PEOPLE</a><br />we're careful to focus first on making things better for people</strong><span> </span>– we don’t start with the technology, that comes later</div>
  <div class="grid-cell"><strong><a href="#craft">CRAFT</a><br />we carefully make digital things that are built to evolve and flourish</strong> – we don’t rush towards a short-term fix</div>
  <div class="grid-cell"><strong><a href="#consideration">CONSIDERATION</a><br />we're careful to think about the impact of the work we do on the wider environment and society</strong>– we don’t make digital stuff in a vacuum</div>
</div>

@Umbraco.Field("bodyText")
}