@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarefulDigitalTestimonialsPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CarefulDigitalBasePage.cshtml";
}
@section MainBody
{
    <h1>@CurrentPage.Name</h1>
    @Umbraco.Field("bodyText")
}