@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarefulDigitalHomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CarefulDigitalBasePage.cshtml";
}

@section MainBody
{

<div class="wrapper">
  <div class="box a"><strong><a href="#people">PEOPLE</a><span> </span>- we're careful to focus first on making things better for people</strong><span> </span>– we don’t start with the technology, that comes later</div>
  <div class="box b"><strong><a href="#craft">CRAFT</a><a> - we carefully make digital things that are built to evolve and flourish</a></strong> – we don’t rush towards a short-term fix</div>
  <div class="box c"><strong><a href="#consideration">CONSIDERATION</a><span> </span>- we're careful to think about the impact of the work we do on the wider environment and society</strong><span> </span>– we don’t make digital stuff in a vacuum</div>
</div>

@Umbraco.Field("bodyText")
}