@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "IronworksBasePage.cshtml";
}
@section MainBody
{
<section id="featured">

     <p>
	   <span style="font-size: 28px;">@Umbraco.Field("mainTagLine")</span><br />
       <span style="font-size: 20px;font-style:italic;">@Umbraco.Field("secondaryTagLine")</span><br />
       <img src="/media/1004/apics.jpg" alt="APICS logo" width="112" height="113" /> <img src="/media/1052/guild-of-mastercraftsmen.jpg" alt="Guild of Master Craftsmen banner" title="Guild of Master Craftsmen" border="0" />
	   
		
  </p>
  
</section>
<!-- end featured -->
<section id="content-wrap">
    <section id="content">
        <a href="#maincontent" accesskey="s" title="Skip Navigation" class="hidden">Skip Navigation</a>
        <section class="two-col">

            @Umbraco.Field("servicesContent")
            <div class="clear">
            </div>
        </section>
        <section class="one-col">
			@Umbraco.Field("safetyContent")
      </section>
    </section>
  </section>
			
}