@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Stove Installation and Chimney Sweep, Shrewsbury, Shropshire</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="vkMGzOjMx1eq5kSGITgGa2q9U_Kejgoeinh_SckB8fg" />
    <link rel="stylesheet" href="/css/ironworks.css" media="all" />
    <link rel="stylesheet" href="/css/ironworks-menu.css" media="all" />
    <link rel="stylesheet" href="/css/ironworks-forms.css" media="all" />  
	
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28179727-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>	
	
</head>
<body>
    <section id="wrap">
        <header>
            <section id="header-top">
                <nav id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact-us.aspx">Contact Us</a></li>
                        <li><a href="/testimonials.aspx">Testimonials</a></li>
                        <li><a href="/how-we-work.aspx">How We Work</a></li>                          
                        <!--<li><a href="/gallery.aspx">Gallery</a></li>-->                         
                    </ul>
                </nav>
            </section>
            <section id="header-btm">
                <div class="contact-info">
                    <p>
                        07971 177742</p>
                    <p>
                        <a href="mailto:info@IronWorkStoves.co.uk" target="_blank">info@ironworkstoves.co.uk</a></p>
                </div>
                <h2 id="tagline">
                    <span style="font-size: 60px;">Ironworks</span><br />
                    Shropshire Stove Installer and Chimney sweep</h2>
                <!-- Insert default "TopTextBar" markup here -->
            </section>
        </header>
        <!-- end header -->
        <div class="clear">
			
		@RenderSection("MainBody",false)	
			
			
        </div>
        <div class="clear">
        </div>
    </section>
    <!-- end content -->
    <section id="side-bar" class="side-page">
    </section><!-- end sidebar -->
    <div class="clear">
    </div>
    <!-- added 23-09-2011 -->
    <section id="footer-wrap">
        <!-- -->
        <section id="footer-top">
        </section>
        <footer>
            <section>
              <p class="contact-info">Telephone 07971 177742 or Email <a href="mailto:info@IronWorkStoves.co.uk" target="_blank">info@ironworkstoves.co.uk</a></p>
              <p><strong>&copy; 2016 Ironworks</strong> &nbsp;</p>
            </section>
        </footer>
        <!-- end footer-wrap -->
        <!-- added 23-09-2011 -->
    </section><!-- -->
</body>
</html>	