@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@Umbraco.Field("pageName")</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="@Umbraco.Field("pageDescription")">
        <meta name="author" content="James Drever">
            
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21543386-1']);
            _gaq.push(['_setDomainName', 'jamesdrever.co.uk']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
				
		<link rel="stylesheet" type="text/css" href="/css/jd-style.css">		
	</head>
   <body>
        <header>
            <nav>
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about-me.aspx">About</a></li>
                    <li><a href="/writing.aspx">Writing</a></li>
                    <li><a href="/projects.aspx">Projects</a></li>                    
                    <li><a href="/umbraco.aspx">Umbraco</a></li>
                    <li><a href="/blog.aspx">Blog</a></li>				  
                </ul>
            </nav>
        </header>
        <main>

            @RenderSection("MainBody")                                
        </main>
        <footer>
        </footer>
    </body>
</html>