@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

var homePage=CurrentPage.AncestorsOrSelf("JDHomePage");
if (homePage.Count() > 0)
{
	var writingMainPage=homePage.First().Children("JDWritingMainPage");
	if (writingMainPage.Count()>0)
	{
		var listOfBooks = writingMainPage.First().Children("JDBook").Where("Visible"); 


		if (listOfBooks.Any())
		{
			<article>
				@foreach (var book in listOfBooks)
                {
					<h2>@book.Name</h2>
					<p><a href="@book.Url">Read more</a></p>	
				}
			</article>
		}
	}	
}}	